<div class="single-widget recent-post">
    <h3 class="title">Recent post</h3>
    <!-- Single Post -->
    <div class="single-post first">
        <div class="image">
            <img src="https://via.placeholder.com/75x75" alt="#">
        </div>
        <div class="content">
            <h5><a href="#">Girls Dress</a></h5>
            <p class="price">$99.50</p>
            <ul class="reviews">
                <li class="yellow"><i class="ti-star"></i></li>
                <li class="yellow"><i class="ti-star"></i></li>
                <li class="yellow"><i class="ti-star"></i></li>
                <li><i class="ti-star"></i></li>
                <li><i class="ti-star"></i></li>
            </ul>
        </div>
    </div>
    <!-- End Single Post -->
    <!-- Single Post -->
    <div class="single-post first">
        <div class="image">
            <img src="https://via.placeholder.com/75x75" alt="#">
        </div>
        <div class="content">
            <h5><a href="#">Women Clothings</a></h5>
            <p class="price">$99.50</p>
            <ul class="reviews">
                <li class="yellow"><i class="ti-star"></i></li>
                <li class="yellow"><i class="ti-star"></i></li>
                <li class="yellow"><i class="ti-star"></i></li>
                <li class="yellow"><i class="ti-star"></i></li>
                <li><i class="ti-star"></i></li>
            </ul>
        </div>
    </div>
    <!-- End Single Post -->
    <!-- Single Post -->
    <div class="single-post first">
        <div class="image">
            <img src="https://via.placeholder.com/75x75" alt="#">
        </div>
        <div class="content">
            <h5><a href="#">Man Tshirt</a></h5>
            <p class="price">$99.50</p>
            <ul class="reviews">
                <li class="yellow"><i class="ti-star"></i></li>
                <li class="yellow"><i class="ti-star"></i></li>
                <li class="yellow"><i class="ti-star"></i></li>
                <li class="yellow"><i class="ti-star"></i></li>
                <li class="yellow"><i class="ti-star"></i></li>
            </ul>
        </div>
    </div>
    <!-- End Single Post -->
</div>