<!-- Start Product Area -->
<ng-container *ngIf="listVenteFlash">
<div  class="product-area section" style="position: relative; bottom: 120px;" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    
                  <img src="assets/images/VF.jpg">         
                       </div>
                <div class="form-inline d-flex justify-content-center md-form form-sm mt-0" style="position: relative; bottom: 20px;">
           
                  <input  [(ngModel)]="searchText"  class="form-control form-control-sm ml-3 w-50" type="text" placeholder="Search"
                    aria-label="Search"> <i class="fas fa-search" aria-hidden="true"></i>
              </div>
             
            
                <div class="row">
                        
                    <div class="col-12">
                        <div class="product-info">
                            <div class="nav-main">
                                <!-- Tab Nav -->
                                
                                <!--/ End Tab Nav -->
                            </div>
                            <div class="tab-content" id="myTabContent">
                                <!-- Start Single Tab -->
                                <div class="tab-pane fade show active" id="man" role="tabpanel">
                                    <div class="tab-single">
                                        <div class="row">
                                            <ng-container  *ngFor="let a of listVenteFlash._embedded.venteFlashes " >
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12" *ngFor="let v of a.articleVenteFlash | filter:searchText">
                                               
                                                <div class="single-product" >
                                                    <div class="product-img">
                                                        <a href="product-details.html">
                                                           <img class="default-img" src="{{v.imageName}}" alt="#">
                                                  
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Add to cart" >Add to cart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a routerLink="/getArticle/id" (click)="ongetArticle(v.id)" >{{v.designtationArt}}</a></h3>
                                                        <div class="product-price">
                                                            <span>{{v.prixArtVF}} Dt</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                        </ng-container>
                                        </div>
                                    </div>
                                </div>
                               
                                <!--/ End Single Tab -->
                            </div>
                        </div>
                    </div>
                </div>
                  <script>
                      const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

let countDown = new Date('Sep 30, 2020 00:00:00').getTime(),
    x = setInterval(function() {    

      let now = new Date().getTime(),
          distance = countDown - now;

        document.getElementById('days').innerText = Math.floor(distance / (day)),
        document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
        document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
        document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);

      //do something later when date is reached
      //if (distance < 0) {
      //  clearInterval(x);
      //  'IT'S MY BIRTHDAY!;
      //}

    }, second)
                  </script>

            </div>
        </div>
       
      
    </div>
</div>
<!-- End Product Area -->
</ng-container>