<div class="sb-nav-fixed">
    <app-nav-bar></app-nav-bar>
    <div id="layoutSidenav">
    
    <app-side-nav></app-side-nav>   
    <div id="layoutSidenav_content">   

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            
            <div class="col-md-6" >
                <div class="profile-head">
                            <h3 style="margin-left: 50%; margin-top: 20%;">
                                
                                  Seller Space  
                            </h3>
                        
                    <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 20%;">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab"  role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab"  role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button   (click)="onEditArticle(userObj.username)" type="submit" class="profile-edit-btn btn btn-dark clickable " style="margin-top:20%;">
                    Edit Profile
                </button>
            </div>
        </div>
        <div class="row" style="margin-left: 10%;">
            
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" >
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ userObj.nom }} {{ userObj.prenom }}</p>
                                        <p></p>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ userObj.username }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ userObj.phoneNumber}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ userObj.address }}</p>
                                    </div>
                                </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>           
</div>
</div>    
</div>
</div>