<div class="shop-top">
    <div class="shop-shorter">
        <div class="single-shorter">
            <label>Show :</label>
            <select>
                <option selected="selected">09</option>
                <option>15</option>
                <option>25</option>
                <option>30</option>
            </select>
        </div>
        <div class="single-shorter">
            <label>Sort By :</label>
            <select>
                <option selected="selected">Name</option>
                <option>Price</option>
                <option>Size</option>
            </select>
        </div>
    </div>
    <ul class="view-mode">
        <li class="active"><a href="shop-grid.html"><i class="fa fa-th-large"></i></a></li>
        <li><a href="shop-list.html"><i class="fa fa-th-list"></i></a></li>
    </ul>
</div>
