<div>
    <app-header></app-header>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form  [formGroup]="form" class="login100-form validate-form" #f="ngForm" (ngSubmit)="onLogin(f.value)">
                <span class="login100-form-title p-b-70">
                    Sign In 
                </span>
                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
                    <input class="input100" type="text" name="username"  ngModel formControlName="username"  >
                    <span class="focus-input100" data-placeholder="Username"></span>
                </div>
                <div *ngIf="username.touched && username.invalid" class="alert alert-danger">  
                    <div *ngIf="username.errors.required">Username is Required.</div>  
                    <div *ngIf="username.errors.email">Username should be email.</div> 
                </div> 

                <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                    <input class="input100" type="password" name="password"  ngModel formControlName="password"
                >
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>
                
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

                <ul class="login-more p-t-190">
                    <li class="m-b-8">
                        <span class="txt1">
                            Forgot
                        </span>

                        <a href="#" class="txt2">
                            Username / Password?
                        </a>
                    </li>

                    <li>
                        <span class="txt1">
                            Don’t have an account?
                        </span>

                        <a routerLink="/register"class="txt2">
                            Sign up
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<hr>
<app-newsletter></app-newsletter>
    <app-modal></app-modal>
    <app-footer></app-footer>
</div>