
<app-header></app-header>
<section id="contact-us" class="contact-us section">
    <div class="container">
            <div class="contact-head">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <div class="form-main">
                            <div class="title">
                               
                            </div>
                            <form #f="ngForm" (ngSubmit) = "putUser(f.value)">
                                
                                <div class="row">
                                    
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Your Name<span>*</span></label>
                                            <input name="nom" [(ngModel)]="user.nom" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Last Name<span>*</span></label>
                                            <input name="prenom" [(ngModel)]="user.prenom" placeholder="" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Password<span>*</span></label>
                                            <input  #x name="password" [(ngModel)]="user.password" placeholder="" type="password">
                                            <button (click)="x.type=x.type=='password'?'text':'password'"><i class="fas fa-eye-slash"></i></button>
                                        </div>	
                                    </div>
                                   
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Your Phone<span>*</span></label>
                                            <input name="phoneNumber" [(ngModel)]="user.phoneNumber" type="text" placeholder="">
                                            
                                        </div>	
                                    </div>
                                    <div class="col-lg-6 col-10">
                                        <div class="form-group">
                                            <label style="margin-left: -130px; position: absolute; left: 120px;">C Password<span>*</span></label>
                                            <input  #x1 name="confirmedPassword" [(ngModel)]="user.confirmedPassword" placeholder="" type="password" style="margin-left: 75px;" >
                                             <button (click)="x1.type=x1.type=='password'?'text':'password'"><i class="fas fa-eye-slash"></i> </button>
                                        </div>	
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Your Address<span>*</span></label>
                                            <input name="address" [(ngModel)]="user.address" type="text" placeholder="">
                                        </div>	
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>CIN<span>*</span></label>
                                            <input name="cin" [(ngModel)]="user.cin" type="text" placeholder="" style="margin-left: 50px;">
                                        </div>	
                                    </div>
                                   
                                    <div class="col-12">
                                        
                                        <div class="form-group button">
                                            <button type="submit" class="btn " >Update</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="single-head">
                            <div class="single-info">
                                <i class="fa fa-phone"></i>
                                <h4 class="title">Call us Now:</h4>
                                <ul>
                                    <li>+216 56 540 066</li>
                                    
                                </ul>
                            </div>
                            <div class="single-info">
                                <i class="fa fa-envelope-open"></i>
                                <h4 class="title">Email:</h4>
                                <ul>
                                    <li><a href="mailto:info@yourwebsite.com">info@eshop.com</a></li>
                                   
                                </ul>
                            </div>
                            <div class="single-info">
                                <i class="fa fa-location-arrow"></i>
                                <h4 class="title">Our Address:</h4>
                                <ul>
                                    <li>KA-62/1, Travel Agency, 45 Grand Central Terminal, New York.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<app-footer></app-footer>